*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(192, 218, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 1000px;
    height: 700px;
    background: white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    box-shadow: 0 15px 40px rgb(180, 158, 158);

}
.sidebar{
    width: 274px;
    background: url("../CSS-Files/Screenshot\ 2026-08-17\ 085649.png");
    background-size: cover;
    border-radius: 10px;
    padding: 40px 30px;
}
.step{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 32px;

}
.circle{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
}
.active .circle{
    background-color: white;
    color: blue;
    border: none;

}
.text span{
    color: rgb(216, 208, 208);
    font-size: 120px;
    letter-spacing: 1px;
}
.text h4{
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 4px;
}
.content{
    flex: 1;
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form h1{
    color: rgb(112, 104, 104);
    font-size: 34px;
    margin-bottom: 12px;
}
.form p{
    color: rgb(44, 41, 41);
    margin-bottom: 8px;
    line-height: 1.5;
}
.input-group{
    margin-bottom: 25px;
}
.input-group label{
    display: block;
    color: grey;
    font-size: 14px;
    margin-bottom: 8px;
}
.input-group input{
    width: 100%;
    padding:16px;
    border: 1px solid darkblue;
    border-radius: 15px;
    font-size: 16px;
    font-weight:500 ;
    outline: none;
}
.input-group input::placeholder{
    background-color: blueviolet;
    color: white;
    padding:15px 28pix;
    border-radius:8px;
    font-size: 16px;
    cursor: pointer;
}